/* CSS for the Card component */

.card {
    border: 1px solid #ddd; /* Add card border */
    padding: 10px; /* Add card padding */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add card shadow */
    background-color: #fff; /* Card background color */
    text-align: center; /* Center align card content */
    transition: transform 0.2s ease-in-out; /* Add a smooth hover effect */
  
    /* Define fixed width and max width for consistent box size */
    flex: 0 1 calc(33.33% - 40px); /* Adjust card width for different screen sizes */
  
    /* Ensure a consistent height for all cards */
    height: 200px;
  
    /* Center align card's content both horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* Add ellipsis (...) to long titles */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card img {
    max-width: 80px; /* Set max width for the card's image */
    max-height: 80px; /* Set max height for the card's image */
    margin-bottom: 10px; /* Add spacing between image and title */
  }
  
  .card h2 {
    font-size: 16px; /* Adjust the title font size */
    margin: 0; /* Remove default margin */
    color : black
  }
  
  /* Hover effect */
  .card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  