* {
    margin: 0;
    padding: 0;

}


body,
html {
    height: 100%;
    width: 100%;

}

.main {
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-radius: 2px solid #25b8b3; */

}


.home {
    height: 90vh;
    width: 500px;
    background-color: white;
    padding-top: 2%;
    padding-left: 6%;
    padding-bottom: 3%;


}


.boxes {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}


.box {
    height: 90px;
    width: 90px;
    border: 2px solid #25b8b3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box:hover {
    box-shadow: 5px 5px 5px lightgray;


}


.part2-caledr {
    height: 55%;
    width: 80%;
    background-color: aliceblue;
    padding-bottom: 20px;
    
}

.box img {
    height: 60px;
    width: 50px;
    object-fit: contain;

}

.box h5 {
    font-size: 15px;
    font-weight: 999;

}



.timeline {
    height: 30%;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px lightgray;

}

.cal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cal button {
    height: 40px;
    width: 120px;
    font-size: 20px;
    border-radius: 15px;
    color: rgb(120, 118, 118);

    /* border:; */

}

.cal span{
    color:#26807d;
}


.timeline>h1 {
    font-size: 20px;
    padding: 10px 0px 10px 30px;
    font-weight: bold;
}

.cal-part {
    height: 110%;
    /* background-color: black; */
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
}

.calender {
    height: 120px;
    width: 130px;
    /* background-color: red; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px 5px rgb(104, 101, 101);
    

}

.calender .year {
    height: 20%;
    width: 100%;
    padding-top: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25b8b3;
    border-radius: 8px 8px 0px 0px;
}

.calender .month {
    font-size: 25px;
    font-weight: bolder;

    /* background-color: yellow; */
}

.calender .date {
    font-size: 25px;
    font-weight: 100;
    /* background-color: yellow; */
}

.status {
    display: flex;
    align-items: center;
}

.clinicname {
    height: 60%;
    /* background-color: yellow; */
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clinicname>h1 {
    font-size: 20px;
}

.clinicname>h1:last-child {
    color: rgb(120, 118, 118);
}


.status-type {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
}

.clinic-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.type {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.status-type span {
    font-size: 20px;
    font-weight: bold;
    color: lightslategray;
}

.status-type h1 {
    font-size: 25px;

}